
* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
nav {
    background: darkgray;

}

.nav-item {
    display: flex;
    font-size: small;
}
ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
nav a {
    text-decoration: none;
    color: #000000;
    font-family: "Montserrat";
    /*font-size: small;*/
    display: inline-block;
    padding: 3px;
}
nav a:hover {
    background: black;
    color: antiquewhite;
}
nav #first li:nth-child(6) {
    margin-left: auto;
}
nav #first li:nth-child(5){
    margin-left: auto;
    font-size: x-large;
    align-self: auto;
}

/*#item1 {*/

/*}*/
/*#item2 {*/
/*    margin: 0 auto;*/
/*}*/
/*#item3 {*/

/*}*/
/*#item4 {*/
/*    !*padding: 1em;*!*/
/*    !*margin-left: auto;*!*/
/*}*/