body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message{
    font-size: 0.8em;
    border: 1px solid lightgrey;
    margin: 0.5em 1.2em;
    padding: 0.5em;
    border-radius: 5px;
}

.message-info{
    background-color: lightskyblue;
    color: blue;
}

.message-success{
    background: palegreen;
    color: green;
}

.message-warning {
    background: lightyellow;
    color: gold;
}


.message-error{
    background: lightcoral;
    color: crimson;
}