.fancy-header {
    color: olive;
    text-decoration: underline;
    text-align: center;
}

h2{
    text-decoration: underline;
    color: olive;
}

body{
    background-color: lightgray;
    color: maroon;
    font-family:'Ravi Prakash', cursive;

}

.fix{
    width: 150px;
    height: 150px;
}
.fix2{
    width: 150px;
    height: 150px;
}

.colorbox{
    list-style: georgian;
}



