.fancy-header {
    color: black;
    text-decoration: underline;
    text-align: center;
}

h2{
    text-decoration: underline;
    color: black;
}

body{
    background-color: lightgray;
    color: maroon;
    font-family:"Helvetica Neue", "Helvetica", sans-serif;
    font-size: larger;
    background-image: url("../images/yellow-rose.jpg");
    background-size: 100em;
    background-position: center;

}

.fix{
    width: 150px;
    height: 150px;
}
.fix2{
    width: 150px;
    height: 150px;
}

.colorbox{
    list-style: georgian;
}

table{
    border: thick solid black;
    border-collapse: collapse;
    font-size: 1.2em;
}

th,td{
    border: thin solid black;
    padding: 10px;
}

a:link{
    color: yellow;
}

a:visited{
    color: black;
}

a:hover{
    color: red;
}


